.mapBox {
    height: 40vh;
}
#gmap {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40vh;
  }
  .detailsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 520px) {
    #gmap{
        width: 50vw;
        height: calc(100vh - 75px);
        position: relative;
    }
    .mapBox {
        width: 50vw;
        height: calc(100vh - 75px);
        margin-right: 0;
    }
    .detailsContainer {
        height: calc(100vh - 75px);
        width: 100vw;
        flex-direction: row;
        justify-content: space-between
    }
    .contentContainer {
        height: calc(100vh - 75px);
        width: 50vw;
    }
}